billiard
celery
Django<1.9
django-appconf
django-braces
django-celery
django-debug-toolbar
django-extensions
django-model-utils
git+https://github.com/aexeagmbh/django-statictemplate.git#egg=django-statictemplate
flower
gunicorn
ipython
kombu
newrelic
psycopg2
pytest-django
pytest
pytz
raven
http://pypi.qax.io/axhandle-0.0.1.tar.gz
