# This file is here because many Platforms as a Service look for
#	requirements.txt in the root directory of a project.
Django<1.8
ipython
django-extensions
django-braces
django-model-utils
gunicorn
celery
django-celery
flower
newrelic
psycopg2
git+https://github.com/aexeagmbh/django-statictemplate.git#egg=django-statictemplate
